/**
 * UConn Banner Overrides
 * WTF is wrong with that thing?
 */
#uconn-banner {

    /**
     * We want the banner container to behave the same
     * way that it does in Bootstrap
     */
    .container {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);

        @media (min-width: $screen-sm){
            & {
                width: $container-sm;
            }
        }
        @media (min-width: $screen-md){
            & {
                width: $container-md;
            }
        }
        @media (min-width: $screen-lg){
            & {
                width: $container-lg;
            }
        }

    }

}

/**
 * Fix weird padding
 */
#home-link-container{
    padding-left: 0px !important;
}
#button-container {
    padding-right: 0px !important;
}


#header-container {
    // @include background-image(linear-gradient(top, white, #e7e7e7));
    // background-image: linear-gradient(top, white, #e7e7e7);
    background-image: linear-gradient(to bottom, white, #e7e7e7);

    /**
     * More weird padding fixes
     */
    .row-fluid {
        > div {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }
}

#site-header {
    @media (max-width: $screen-sm){
        float:left;
        padding: ($grid-gutter-width / 2) 0;
    }
}

