
.navbar {


    @media (min-width: $screen-sm){
        &.container {
            padding: 0px;
        }

        li:first-child  a{
            padding-left: 0px;

        }
    }

}

.navbar-nav {
    > li {

        >  a {
            font-weight: 500;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        }
    }
}

.navbar-header {
    .container > & {
        margin: 0px;
    }
}


#navbar-collapse {
    @media (min-width: $screen-sm){
        padding: 0;
    }
}

.navbar-toggle {
    position: absolute;
    right: ($grid-gutter-width / 2);
    top: ($grid-gutter-width / 2);
}

/**
 * Footer Menu
 */
.site-footer {
    padding: 1.5em 0;
    border-top: 2px solid lighten($gray, 50%);
}
#footer-links {
    list-style-type: none;
    margin: 0px;
    padding:0px;

    li {
        display: inline-block;
        margin-right: .75em;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: $gray-light;

            &:hover {
                color: $brand-primary;
            }
        }
    }
}
